[data-page-loading=on] *,
.page-loading * {
    transition: none !important;
}

.page-loader {
    background-color: var(--bs-body-bg);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10000;
    display: none;
}

[data-page-loading=on] .page-loader,
.page-loading .page-loader {
    display: flex;
    justify-content: center;
    align-items: center;
}