<footer>
    <nav class="navbar sticky-bottom" style="height: 50px; background-color: #18212d"">
        <div class="container">
            <div class="col-md-4 d-flex align-items-center">
                <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
                    <svg class="bi" width="30" height="24">
                        <use xlink:href="#bootstrap"></use>
                    </svg>
                </a>
                <span class="mb-3 mb-md-0 text-light">TechNews© 2023</span>
            </div>
            <div class="col-md-4 d-flex justify-content-end mx-5">
                <a href="https://github.com/pistoladas-group/tech-challenge-02" class="text-muted" href="#">
                    <i class="bi bi-github text-light" style="font-size: 25px;"></i>
                </a>
            </div>
        </div>

    </nav>
</footer>