@model TechNews.Web.Models.News

<div class="post-preview">
    <a href="post.html">
        <h2 class="post-title">@Model.Title</h2>
        <h3 class="post-subtitle">@Model.SubtTitle</h3>
    </a>
    <p class="post-meta">
        Posted by
        <a href="#!">@Model.Author.Name</a>
        on @Model.PublishDate.ToString("dd MMMM, yyyy", new System.Globalization.CultureInfo("pt_BR"))
    </p>
</div>
<hr class="my-4" />