@model TechNews.Web.Models.UserModel;

<header>
    <nav class="navbar fixed-top" style="height: 70px; background-color: #18212d">
        <div class="container">
            <div class="d-flex justify-content-start">
                <a class="navbar-brand" href="/">
                    <img src="~/images/logo/TechNews2.png" alt="" width="200" height="24">
                </a>
            </div>

            @if(Model.IsAuthenticated) 
            {
                <div class="d-flex justify-content-end">
                    <span class="text-light mx-2 px-2 mt-2 fw-bold">Olá, @Model.UserName</span>
                    <a class="btn btn-light" href="/account/logout">Sair</a>
                </div>
            }

            @if(!Model.IsAuthenticated) 
            {
                <div class="d-flex justify-content-end text-light">
                    <a class="btn btn-light mx-2" href="/account">Cadastrar</a>
                    <a class="btn btn-light" href="/account/login">Entrar</a>
                </div>
            }

        </div>
    </nav>
</header>