@{
  ViewData["Title"] = "Criar Conta";
}

@section Scripts {
    <script src="~/js/login-account.js" asp-append-version="true"></script>
}

<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100" style="width: 600px;">
      <form class="login100-form validate-form">
        <span class="login100-form-title p-b-26" style="padding-bottom: 60px;">
						Cadastre uma conta
				</span>
        <div class="wrap-input100 validate-input" data-validate="E-mail inválido">
          <input class="input100" type="text" name="email">
          <span class="focus-input100" data-placeholder="E-mail"></span>
        </div>

        <div class="wrap-input100 validate-input" data-validate="Senha inválida">
          <span class="btn-show-pass">
            <i class="zmdi zmdi-eye"></i>
          </span>
          <input id="txtPassword" class="input100" type="password" name="pass">
          <span class="focus-input100" data-placeholder="Senha"></span>
        </div>

        <div class="wrap-input100 validate-input" data-validate="Senhas não conferem">
          <span class="btn-show-pass">
            <i class="zmdi zmdi-eye"></i>
          </span>
          <input id="txtConfirmPassword" class="input100" type="password" name="confirm-pass">
          <span class="focus-input100" data-placeholder="Confirmar Senha"></span>
        </div>

        <div class="container-login100-form-btn">
          <div class="wrap-login100-form-btn">
            <div class="login100-form-bgbtn"></div>
            <button class="login100-form-btn">
              Cadastrar
            </button>
          </div>
        </div>

        <div class="text-center p-t-115">
          <span class="txt1">
            Já possui uma conta?
          </span>
          <br>
          <a class="txt2" href="Login">
            Entrar
          </a>
        </div>
      </form>
    </div>
  </div>
</div>