@{
  ViewData["Title"] = "Entrar";
}

@section Scripts {
  <script src="~/js/login-account.js" asp-append-version="true"></script>
}

<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100" style="width: 600px;">
      <div class="login100-form validate-form">
        <span class="login100-form-title p-b-26" style="padding-bottom: 60px;">
          Entre em sua conta
        </span>
        <div class="wrap-input100 validate-input" data-validate="Insira um e-mail">
          <input id="txtEmail" class="input100" type="text" name="email" maxlength="320">
          <span class="focus-input100" data-placeholder="E-mail"></span>
        </div>

        <div class="wrap-input100 validate-input" data-validate="Insira uma senha">
          <span class="btn-show-pass">
            <i class="zmdi zmdi-eye"></i>
          </span>
          <input id="txtPassword" class="input100" type="password" name="pass" maxlength="128">
          <span class="focus-input100" data-placeholder="Senha"></span>
        </div>

        <div id="divWarningAlert" class="alert alert-warning d-flex align-items-center d-none" role="alert">
          <div>
            Número máximo de tentativas de login excedido.<br> Por favor,
            tente novamente mais tarde.
          </div>
        </div>

        <div id="divErrorAlert" class="alert alert-danger d-none" role="alert">
          Ocorreu um erro inesperado, por favor tente novamente ou contate o suporte
        </div>

        <div class="container-login100-form-btn">
          <div class="wrap-login100-form-btn">
            <div class="login100-form-bgbtn"></div>
            <button id="btnLogin" class="login100-form-btn">
              Entrar
            </button>
          </div>
        </div>

        <div class="text-center p-t-115">
          <span class="txt1">
            Não possui uma conta?
          </span>
          <br>
          <a class="txt2" href="/account">
            Criar Conta
          </a>
        </div>
      </div>
    </div>
  </div>
</div>